<!--<div class="mat-spinner-box">-->
<!--  <mat-spinner-->
<!--    class="mat-spinner"-->
<!--    [diameter]="30"-->
<!--    [strokeWidth]="2"-->
<!--    [value]="3">-->

<!--  </mat-spinner>-->
<!--</div>-->
<ul class="list-group">
  <li class="list-group-item">
    <img src="assets/images/placeholder.png" class="img img-thumbnail" alt="profile picture">
    <div class="profile-info">
      <h6>Lorenzo Gregory</h6>
      <ngb-rating  rate="3" max="5" readonly="true"></ngb-rating>&nbsp;&nbsp;
      <span>4.0</span>
    </div>
  </li>
</ul>
