<div class="account-container">
   <div class="banner-area">
      <div class="welcome-section">
        <h2>CLIQHAUL 2.0</h2>
        <h4>Welcome!</h4>
        <p>{{welcomeText}}</p>
        <img src="assets/images/welcome-truck.png" alt="Welcome Truck">
        <div class="signup">
          <p>Signup As</p>
          <!-- <p><a routerLink="/field/fmo-signup">Field Monitoring Officer</a> | <a href="">Customer</a></p> -->
        </div>
      </div>
     
   </div>
   
   <div class="account-type-area">
     <router-outlet></router-outlet>

     
   </div>
</div>
