section {
    padding: 0 23px 0 23px;
  }
  
  .card > .card-header {
    text-align: left;
    background: transparent;
    border: none;
    h4 {
      font-size: large;
      line-height: 2.00rem;
    }
  }
  
  .form-group-inline {
    justify-content: center;
    padding-top: 10px;
  }
  
  #carType{
    width: 480px!important;
  }
  
  .btn-sticky {
    position: relative !important;
    float: right;
    right: 0 !important;
  }
  
  #carType {
    width: 510px;
  }
  
  .driver-photo-placeholder {
    display: flex;
    justify-content: center;
    img {
      height: 200px;
      width: 200px;
      border: 1px #E1E1E1 solid;
      border-radius: 10px;
    }
  }
  
  .upload-btn {
    margin-top: 10px;
    padding: 5px;
    font-size: .799rem;
  }
  
  .upload-btn:hover {
    color: #fff;
  }
  