<div class="page-container-section">

    <div class="header">
  
      <div class="page-heading">
  
        <ul class="breadcrumb">
  
          <li class="breadcrumb-item"><a routerLink="">Vehicles</a></li>
          <li class="breadcrumb-item"><h4>Vehicle Registration</h4></li>
  
        </ul>
  
      </div>
  
    </div>
  
    <section>
  
      <div class="row">
  
        <div class="col-lg-12 padding-top-40">
  
          <div class="card">
  
            <div class="card-header">
  
              <h4>About</h4>
  
            </div>
  
            <div class="card-body">
  
              <div class="form-group-inline">
  
                <label for="model">Model</label>
  
                <input type="text" class="form-control-c form-control" id="model">
  
              </div>
  
              <div class="form-group-inline">
  
                <label for="registNo">Registration Number</label>
  
                <input type="text" class="form-control-c form-control" id="registNo">
  
              </div>
  
              <div class="form-group-inline">
  
                <label for="carType">Car Type</label>
  
                <select class="form-control-c form-control" id="carType">
                  <option>Truck</option>
                </select>
  
              </div>
  
              <div class="form-group-inline">
  
                <label for="weightNo">Number of Weight</label>
  
                <input type="number" class="form-control-c form-control" id="weightNo">
  
              </div>
  
              <div class="form-group-inline">
  
                <label for="origin">Origin</label>
  
                <input type="number" class="form-control-c form-control" id="origin">
  
              </div>
  
              <div class="form-group-inline">
                <label for="journeyDestination">Destination of Journey</label>
                <input type="text" name="destinationOfJourney" id="journeyDestination" class="form-control-c form-control">
              </div>
  
            </div>
          </div>
  
        </div>
  
        <div class="col-lg-12 padding-top-40">
  
          <div class="card">
  
            <div class="card-header">
              <h4>Insurance</h4>
            </div>
  
            <div class="card-body">
  
              <div class="form-group-inline">
  
                <label for="insuranceCompany">Insurance Company</label>
                <input type="text" name="insuranceCompany" class="form-control-c" id="insuranceCompany">
  
              </div>
  
              <div class="form-group-inline">
  
                <label for="policyNumber">Policy Number</label>
                <input type="text" name="policyNumber" class="form-control-c" id="policyNumber">
  
              </div>
  
              <div class="form-group-inline">
  
                <label for="issueDate">Issue Date</label>
                <input type="text" name="issueDate" class="form-control-c" id="issueDate">
  
              </div>
  
              <div class="form-group-inline">
  
                <label for="expiryDate">Expiry Date</label>
                <input type="text" name="expiryDate" class="form-control-c" id="expiryDate">
  
              </div>
  
              
            </div>
  
          </div>
  
        </div>
  
        <div class="col-lg-12 padding-top-40">
          <div class="card">
              <div class="card-header">
                <h4>Vehicle Owner</h4>
              </div>
              <div class="card-body">
                <div class="form-group-inline">
  
                  <label for="fullName">Full Name</label>
                  <input type="text" name="fullName" id="fullName" class="form-control-c">
  
                </div>
  
                <div class="form-group-inline">
  
                  <label for="phoneNumber">Phone Number</label>
                  <input type="text" name="fullName" id="phoneNumber" class="form-control-c">
  
                </div>
  
                <div class="form-group-inline">
  
                  <label for="phoneNumber">Email</label>
                  <input type="text" name="email" id="email" class="form-control-c">
  
                </div>
              </div>
          </div>
        </div>
  
        <div class="col-lg-12 padding-top-40">
          <button class="btn btn-default btn-sticky" routerLink="fmo-registered-vehicle">Submit <span class="ion-arrow-right-a"></span></button>
        </div>
      </div>
  
    </section>
  
  </div>
  