.driver-container{
  width: 100%;
  padding: 20px;
  background: #EFEFEF !important;
  height: 100vh;
  .header{
    display: grid;
    grid-template-columns: 20% 80%;

    .page-heading{
      text-align: left;
      h4{
        font-size: 1.4rem;
        font-weight: bold;
      }
    }


    .page-filter{
      display: grid;
      grid-template-columns: 40% 60%;
      text-align: right;
      .ion-android-options{
        font-size: .990rem;
        color: #8e8e8e;
        font-weight: bold;
      }
      p{
        padding: 6px;
        color: #8e8e8e;
        font-weight: bold;
      }
    }

  }


  .drivers-section{
    .col-lg-4,col-md-4{
      position: static !important;
      padding: 15px;
      .card{
        box-shadow: 0 0 5px 0 rgba(2, 3, 3, 0.1);
        border-radius: 10px;
        height: 200px;
        width: 100%;
        display: grid;
        grid-template-areas: 'banner banner'
                              'content content';
        grid-gap: 0;
        grid-template-rows: 50% 50%;
        cursor: pointer;
        .banner-section{
          grid-area: banner;
          width: 100%;
          background: #EFF5F9;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          padding: 15px;
          .qr-code{
            float: right;
            clear: none;
            height: 100px;
          }
        }

        .card-content{
           grid-area: content;
           display: grid;
           grid-template-columns: 30% 70%;

          .driver-profile{
            padding: 10px 10px 10px 0;
            line-height: 0.12rem;
            display: flex;
            justify-content: center;
            align-content: center;
            div{
              padding-top: 30px;
              text-align: center;
              p:last-child{
                font-size: .700rem;
                color: #8e8e8e;
              }
            }
          }

          .image-placeholder{
            background: #fff;
            border-radius: 10px;
            width: 90px;
            height: 100px;
            position: relative;
            top: -50px;
            left: 7px;
            border: 5px solid #fff;
            z-index: inherit;
          }

        }
      }

      .card:hover{
        box-shadow: 0 0 10px 0 rgba(2, 3, 3, 0.1);
      }
    }

    .btn-load-more{
       background: #1a68a2;
       border-radius: 30px;
       margin: auto;
       color: #fff;
    }
  }


}


.breadcrumb {
  width: 400px;
  background: transparent;
  h4 {
    padding: 2px;
    font-size: 1.0rem;
  }
}

