.page-container-section {
  height: 100vh;
}

agm-map {
  height: 300px;
}

.card {
  box-shadow: 0 0 5px 0 rgba(2, 3, 3, 0.1);
}

.card > .card-body {
  padding: 0;
}

section {
  padding: 10px 0 10px 0;
}
