<div class="page-container-section">
  <div class="header">
    <div class="page-heading">
      <ul class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/app/settings/home/field-monitors">Home</a>
        </li>
        <li class="breadcrumb-item"><h4>John Doe</h4></li>
      </ul>
    </div>
  </div>
  <section>
    <div class="card">
      <div class="card-body">
        <div class="profile-photo">
          <img src="assets/images/avatar.png" alt="profilePhoto"/>
        </div>
        <div class="profile-name">
          <h3>John Doe</h3>
        </div>
        <hr>
        <div class="profile-details">
          <table class="table table-bordered"
                 aria-describedby="Profile Details">
            <tbody>
              <tr>
                <td>Email</td>
                <td>example@org.com</td>
              </tr>
              <tr>
                <td>Contact</td>
                <td>+2330002903</td>
              </tr>
            <tr>
              <td>Status</td>
              <td><span>Active</span></td>
            </tr>
              <tr>
                <td>Location</td>
                <td>1000 North 4th Street</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>
