<div class="aside-container">
    <div class="heading">
       <div class="title"><p>Log Out</p></div>
       <button class="btn btn-transparent btn-logout">
         <span class="ion-log-out"></span>
       </button>
    </div>
    <div class="profile-info">
      <app-fmo-profile-pic [showLogout]="false"></app-fmo-profile-pic>
      <hr>
      <ul class="aside-menu">
        <li><a routerLink="/app/settings/admin-home/notifications"><span class="notification_ic"></span><span>Notifications</span></a></li>
        <li><a routerLink="/app/settings/admin-home/profile"><span class="update_profile_ic"></span><span>Update My Profile</span></a></li>
      </ul>
    </div>
  
  </div>
  