<div class="welcome-page">
  <div class="card">
    <div class="card-header">
      <h4>Sign Up</h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="form-group col-6">
          <input type="text"
                 class="form-control"
                 autocomplete="on"
                 placeholder="First Name"/>
        </div>
        <div class="form-group col-6">
          <input type="text"
                 class="form-control"
                 autocomplete="off"
                 placeholder="Last Name">
        </div>

        <div class="form-group col-12">
          <input type="email"
                 class="form-control"
                 autocomplete="off"
                 placeholder="Email Address">
        </div>

        <div class="form-group col-12">
          <input type="email"
                 class="form-control"
                 autocomplete="off"
                 placeholder="Password">
        </div>

        <div class="form-group col-12">
          <input type="email"
                 class="form-control"
                 autocomplete="off"
                 placeholder="Repeat Password">
        </div>

        <div class="col-12">
          <button class="btn btn-default btn-block btn-login" routerLink="/welcome/signup-step-two">
            Next
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="login-link">
  <p>Already Have an Account? <a routerLink="/welcome/login">Login</a></p>
</div>
