.card{
    position: static !important;
  }
  .main-profile-img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

  .card-driver{
    position: static !important;
    box-shadow: 0 0 1px 0 rgba(2, 3, 3, 0.1);
    border-radius: 10px;
    //height: 60vh;
    width: 100%;
    display: grid;
    grid-template-areas: 'banner banner'
                          'overview overview'
                          'detail detail';
    grid-gap: 0;
    // grid-template-rows: 40% 30% 30%;
  }
  
  .banner-section{
    grid-area: banner;
    width: 100%;
    background: #EFF5F9;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 15px;
  
  
    .btn-back{
      float: left;
    }
    .qr-code{
      float: right;
      clear: none;
      height: 100px;
    }
  }
  
  .driver-overview{
    grid-area: overview;
    display: grid;
    grid-template-columns: 20% 80%;
  
    img{
      background: #fff;
      border-radius: 10px;
      width: 150px;
      height: 150px;
      position: relative;
      top: -50px;
      left: 0;
      border: 5px solid #fff;
    }
  }
  
  .driver-details{
    grid-area: detail;
    text-align: left;
    padding: 20px;
    h5{
      font-weight: bold;
    }
  }
  
  .driver-profile{
    display: grid;
    grid-template-columns: 80% 20%;
    .title{
      width: 100%;
      text-align: left;
      padding: 15px;
      h4{
        font-size: 1.2rem;
      }
    }
  
    div:last-child{
      padding-top: 10px;
      padding-right: 10px;
    }
  }
  
  .btn-yellow{
    background: #FDC664;
    color: #fff;
    font-size: .900rem;
  }
  
  .rating{
    line-height: .500rem;
    padding-top: 0 !important;
  
    span{
      font-weight: 500;
  
    }
  }
  
  .sr-only + span {
    color: #FDC664 !important;
  }
  
  tbody{
    tr:first-child{
      td:last-child{
        border: 1px solid transparent;
      }
    }
  }
  
  tr{
    td:first-child{
      width: 3%
    }
  }
  
  
  .transaction-card{
    .card-body{
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
  
  .card-header{
    text-align: left;
    h4{
      text-align: left;
    }
  }
  
  
  .transactions{
  
    thead{
      font-size: .900rem;
      background: #FDC664;
      color: #000;
    }
  }
  
  .license-section {
    display: grid;
    grid-template-columns: 50% 10% 40%;
  }
  
  .date-input-section {
    display: grid;
    grid-template-columns: 50% 50%;
  
    div {
      padding: 3px;
    }
  }
  
  .scan-form{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  
  .btn-scanner {
    border: 1px solid #E1E1E1;
    height: 70px;
    color: #606060;
  }
  
  .divider {
    text-align: center;
    div {
      margin: auto;
      background: #E1E1E1;
      height: 50%;
      width: 1px;
    }
  }

  




  section {
    padding: 0 23px 0 23px;
  }
  
  .card > .card-header {
    text-align: left;
    background: transparent;
    border: none;
    h4 {
      font-size: 0.9rem;
      line-height: 2.00rem;
    }
  }
  
  .form-group-inline {
    justify-content: center;
    padding-top: 10px;
  }
  
  #carType{
    width: 480px!important;
  }
  
  .btn-sticky {
    position: relative !important;
    float: right;
    right: 0 !important;
  }
  
  #carType {
    width: 510px;
  }
  
  .driver-photo-placeholder {
    display: flex;
    justify-content: center;
    img {
      height: 200px;
      width: 200px;
      border: 1px #E1E1E1 solid;
      border-radius: 10px;
    }
  }
  
  .upload-btn {
    margin-top: 10px;
    padding: 5px;
    font-size: .799rem;
  }
  
  .upload-btn:hover {
    color: #fff;
  }
  
  .input-group-sm>.form-control{
    background-color: #F2F2F2;
    border: 1px solid transparent;
    height: calc(1.5em + .75rem + 9px);
    border-radius: 5px;
    
  }
  .form-group-inline label{
      margin-left: 40px;
  }
  .form-group-inline{
    justify-content: left;
  }

  





  @import "src/color";

.signup-container{
  display: flex;
  justify-content: center;

  .card-default{
    padding: 0 23px 0 23px;
    border-radius: 3px;
    width: 100%;
  }

  p{
    text-align: center;
    position: absolute;
    bottom: 0;
    color: #8e8e8e;
  }
  h4{
    //font-family: Circular-Bold, serif;
  }
}

.welcome-page .card .card-header h4 span{
    float: right;
    font-size: 0.9rem!important;

}


.welcome-page .card .card-body .row .form-group div {
   
   

    .main-profile-img{
        height: 100%;
        width: 100%;
        border-radius: 50%;
    }
  
        width: 140px;
        height: 140px;
        border-radius: 50%;
        border-style: solid;
        border-color: #FFFFFF;
        box-shadow: 0 0 8px 3px #B8B8B8;
        position: relative;
      
      
      i {
        position: absolute;
        top: 20px;
        right: -7px;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        display: flex !important;
        align-items: center;
        justify-content: center;
        background-color: $grey;
        color: $white;
        box-shadow: 0 0 8px 3px #B8B8B8;
      }

}
.card-body{
  padding-top: 0px;
}

h6{
  text-align: center;
  padding: 25px;
  font-weight: bolder;
  //font-family: Circular-Bold, serif;
}

.form-check-label{
  color: #8e8e8e;
  //font-family: Circular-Medium, serif;
}

.welcome-page .card {
    width: 100%;
    border: 1px solid #ffffff;
    padding: 20px;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    border-radius: 3px;
}

@media only screen and (max-width: 600px) {
  .card-default{
    padding: 3px;
  }
  .signup-container{
    display: flex;
    justify-content: center;

    .card-default{
      margin: 10px;
      border-radius: 10px;
      width: 100%;
    }

  }
}



.ion-edit:before {
    font-size: 16px;
}

.welcome-page .card .card-header h4{
    font-size: 0.9rem;
}

.btn-sticky-1 {
    right: 5px;
    background: #FDC664;
    box-shadow: 0 0 10px 0 rgb(2 3 3 / 10%);
}
.btn-sticky-2 {
    right: 5px;
    background: transparent;
    box-shadow: 0 0 10px 0 rgb(2 3 3 / 10%);
    border: 1px solid rgb(23, 24, 23);
    margin-right: 10px;
}
.button-two-content{
    float: right;
    margin-right: 50px;
}