<div class="page-container-section">
  <div class="page-heading">
    <div class="page-heading">
      <ul class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/app/i/invoice">Invoice</a>
        </li>
        <li class="breadcrumb-item">
          <h4>Invoice Ref Id</h4>
        </li>
      </ul>
    </div>
  </div>
  <section>
    <div class="row">
      <div class="col-lg-8">
        <div class="card" id="invoiceCard">
          <div class="card-header">
             <h4>Invoice N <sup>o</sup> 00220201980</h4>
          </div>
          <div class="card-body">
            <div class="client-box">
              <p>To:</p>
              <p>Amber Loz Goodma</p>
              <p class="silent-text">4924 Franklin Avenue</p>
              <p class="silent-text">Jacksonville, FL 32202</p>
              <p class="silent-text">
                <span class="ion-android-phone-portrait"></span>&nbsp;
                3894-99-9093</p>
            </div>
            <div class="invoice-details">
              <p>Invoice Details:</p>
              <p class="silent-text">Date: 15/07/2020</p>
              <p class="silent-text">Invoice Ref. : 0020201506</p>
            </div>

            <div class="table-responsive">
              <table class="table table-bordered" aria-describedby="Invoice Details">
                <thead>
                  <th scope="col">Description</th>
                  <th scope="col">Amount</th>
                </thead>
                <tbody>
                  <tr>
                    <td class="shippingCell">
                      <h6>Shipping</h6>
                      <p>From: 2046 Doe Meadow Drive, Lisbon, New Hampshire</p>
                      <p>To: 939 West Side Avenue, Jersey City, New Jersey</p>
                    </td>
                    <td>
                      <p>400</p>
                    </td>
                  </tr>
                  <tr>
                    <td>Total</td>
                    <td><p>$400</p></td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <ul class="list-group">
          <li class="list-group-item">Print</li>
          <li class="list-group-item">Send To Vehicle Owner</li>
          <li class="list-group-item">View Full Transaction</li>
        </ul>
      </div>
    </div>
  </section>
</div>
