$gray: #C1B9AE;
$voilet: #73607D;
$pink: #FB8C6F;
$primary-yellow: #FDC664;
$secondary: #1B6CA8;
$deep-blue: #142850;
$grey: #888888;
$input-bg: #F2F2F2;
$bg-gray: #EFEFEF;
$light-sea-blue: #eff5f9;
$deep-sea-blue: #1a68a2;
$red: #ff0000;
$white: #ffffff;
$blue: #007bff;
