.scan-ic{
  content: url("assets/images/Icon-ionic-md-qr-scanner.png");
}

.bell-ic{
  content: url("assets/images/Path7.png");
}

.menu-bar-ic{
  content: url("assets/images/Icon material-menu.png");
}

.home_ic{
  content: url("assets/images/menu-ic/home_ic.png");
}

.driver_ic{
  content: url("assets/images/menu-ic/driver_ic.png");
}

.report_ic{
  content: url("assets/images/menu-ic/report_ic.png");
}

.route_ic{
  content: url("assets/images/menu-ic/route_ic.png");
}

.settings_ic{
  content: url("assets/images/menu-ic/settings_ic.png");
}

.tracking_ic{
  content: url("assets/images/menu-ic/tracking_ic.png");
}

.vehicles_ic{
  content: url("assets/images/menu-ic/vehicles_ic.png");
}

.invoices_ic{
  content: url("assets/images/menu-ic/invoices_ic.png");
}

.logout_ic{
  content: url("assets/images/menu-ic/Icon-ionic-md-exit@2x.png");
  height: 20px;
  width: 20px;
}

.notification_ic{
  content: url("assets/images/menu-ic/notifications.png");
}

.update_profile_ic{
  content: url("assets/images/menu-ic/update_profile_ic.png");
}
