@import "src/color";
.page-container-section {
  height: 100vh;
}
.card{
  border: none;
  box-shadow: 5px 6px 5px 0 rgba(2, 3, 3, 0.1);
  border-radius: 5px;
}
.card-body {
  text-align: left;
  h3 {
    font-size: 1.555rem;
  }
  p {
    color: $grey;
    font-size: .955rem;
    font-weight: lighter;
  }
}
.card-footer {
  border: none;
  background: transparent;
}
.btn-secondary {
  box-shadow: 5px 2px 5px 0 rgba(2, 3, 3, 0.1);
  border-radius: 5px;
  //padding: 10px;
}
.btn-reg {
  box-shadow: 5px 2px 5px 0 rgba(2, 3, 3, 0.1);
  border-radius: 5px;
  width: 100%;
}
.btn-reg-1{
  box-shadow: 5px 2px 5px 0 rgba(2, 3, 3, 0.1);
  border-radius: 5px;
  width: 60%;
}
.btn-scan-1 {
  background: $primary-yellow;
  color: #ffffff;
  box-shadow: 5px 2px 5px 0 rgba(2, 3, 3, 0.1);
  border-radius: 5px;
  width: 60%;
}

.btn-scan-2 {
    background: $primary-yellow;
    color: #ffffff;
    box-shadow: 5px 2px 5px 0 rgba(2, 3, 3, 0.1);
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
  }


#historyCard {
  .card-header {
    background: transparent;
    border: none;
    h4 {
      padding: 10px;
      font-size: 1.266rem;
    }
  }
  
}

#registationCard {

  .btn-secondary {
    box-shadow: 5px 2px 5px 0 rgba(2, 3, 3, 0.1);
    border-radius: 5px;
    font-size: .988rem;
  }

  .btn-scan {
    background: $primary-yellow;
    color: #ffffff;
    box-shadow: 5px 2px 5px 0 rgba(2, 3, 3, 0.1);
    border-radius: 5px;
  }
}

.button-pad {
  display: flex;
  justify-content: left;
  gap: .900rem;
}
.ion-android-bus{
    margin-right: 50px;
}
.ion-person-add{
    margin-right: 50px;
}

b{
    padding-left: 30px;
    color: $grey;
    font-size: .955rem;
    font-weight: 500;
}

.form-group-inline{
    margin-top: 20px;
    margin-bottom: 20px;
}
.form-control-c {
    background-color: transparent;
    border: 1px solid #c4c3c3a2;
    height: calc(1.5em + .75rem + 9px);
    border-radius: 5px;
}